.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.notifications-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notification-card {
  display: flex;
  align-items: center;
}
.success {
  color: #2dca73;
}
.error {
  color: #ff0b37;
}
.warning {
  color: #ffb800;
}
.info {
  color: #0f81e0;
}
.logo {
  margin: 20px;
}
.icon1 {
  height: 40px;
  width: 40px;
  color: #2dca73;
}
.icon2 {
  height: 40px;
  width: 40px;
  color: #ff0b37;
}
.icon3 {
  height: 40px;
  width: 40px;
  color: #ffb800;
}
.icon4 {
  height: 40px;
  width: 40px;
  color: #0f81e0;
}
@media (max-width: 512px) {
  .icon1 {
    height: 30px;
    width: 30px;
  }
  .icon2 {
    height: 30px;
    width: 30px;
  }
  .icon3 {
    height: 30px;
    width: 30px;
  }
  .icon4 {
    height: 30px;
    width: 30px;
  }
  .success {
    color: #2dca73;
    font-size: 18px;
  }
  .error {
    color: #ff0b37;
    font-size: 18px;
  }
  .warning {
    color: #ffb800;
    font-size: 18px;
  }
  .info {
    color: #0f81e0;
    font-size: 18px;
  }
  p {
    font-size: 12px;
    width: 90%;
  }
  .logo {
    margin: 10px;
  }
}
